<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juaponabr.proyectopgljuaponabr3dam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controlador.EditaCliente"
            android:label="@string/title_activity_edita_cliente"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juaponabr.proyectopgljuaponabr3dam.MainActivity" />
        </activity>
        <activity
            android:name=".controlador.EditaContrato"
            android:label="@string/title_activity_edita_contrato"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juaponabr.proyectopgljuaponabr3dam.MainActivity" />
        </activity>
        <activity
            android:name=".secciones.GestionDatos"
            android:label="@string/title_activity_secciones"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juaponabr.proyectopgljuaponabr3dam.MainActivity" />
        </activity>
        <activity
            android:name=".secciones.GaleriaPhotos"
            android:label="@string/title_activity_galeria"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.juaponabr.proyectopgljuaponabr3dam.MainActivity" />
        </activity>

        <provider
            android:name=".proveedor.ProveedorDeContenido"
            android:authorities="com.example.juaponabr.proyectopgljuaponabr3dam.proveedor.ProveedorDeContenido"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>